/1Kints.txt
/2Kints.txt
/4Kints.txt
/4runs.bin
/8Kints.txt
/ababLZW.txt
/abra.txt
/abraLZW.txt
/amino.csv
/aminoI.csv
/aminoI.txt
/brownian.txt
/cards.txt
/diffusion.txt
/DJIA.csv
/ex1.txt
/ex2.txt
/ex3.txt
/ex4.txt
/genomeTiny.txt
/genomeVirus.txt
/in1.txt
/in2.txt
/ip.csv
/jobs.txt
/jobsPC.txt
/kw1260.txt
/largeDG.txt
/largeEWD.txt
/largeEWG.txt
/largeG.txt
/largeT.txt
/largeUF.txt
/largeW.txt
/leipzig1M.txt
/list.txt
/m1.txt
/m2.txt
/m3.txt
/mediumDG.txt
/mediumEWD.txt
/mediumEWG.txt
/mediumG.txt
/mediumUF.txt
/medTale.txt
/mobydick.txt
/movies.txt
/pi.txt
/q32x48.bin
/q64x96.bin
/rates.txt
/routes.txt
/rs1423.txt
/shells.txt
/shellsST.txt
/tale.txt
/tiny.txt
/tinyBatch.txt
/tinyCG.txt
/tinyDAG.txt
/tinyDG.txt
/tinyEWD.txt
/tinyEWDAG.txt
/tinyEWDn.txt
/tinyEWDnc.txt
/tinyEWG.txt
/tinyFN.txt
/tinyG.txt
/tinyPQ.txt
/tinyST.txt
/tinyT.txt
/tinyTale.txt
/tinytinyTale.txt
/tinyUF.txt
/tinyW.txt
/tobe.txt
/UPC.csv
/words3.txt
